@using EmployeeWithEntityFramwork.Models
@model EmployeeWithEntityFramwork.Models.Login

@{
    var loaderinformation = "test";
    Layout = null;
}

<link href="~/Content/custombootstrapcss.css" rel="stylesheet" />
<!DOCTYPE html>
@using (Html.BeginForm("Collect", "Home", FormMethod.Get))
{
    <div>
        <div style="text-align: -webkit-center">
            @if (Model != null)
            {
                <div>@Model.LoaderInfo</div>
                <div>@loaderinformation</div>
                <div class="loader">

                </div>
            }

        </div>
    </div>
}
@*@if (@Model.Response != null)
    {
        @Html.Action("Collect", "Home", new { order = @Model.Response })
    }*@

@*<script type="text/javascript">
        setTimeout(function () { @Html.Action("Collect","Home",new {order=@Model.Response}) }, 1000);
        //setTimeout(function () { document.location.reload(true); }, 1000);
    </script>*@

<script>
    $(document).ready(function () {
        loaderinformation = "asdfasdf";
    });
</script>
