@{
    ViewBag.Title = "Login";
}
@*<h2>@ViewBag.Title.</h2>*@



@model EmployeeWithEntityFramwork.Models.Login

    @if (ViewBag.Message == null)
    {

        using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div class="row">

                <fieldset>
                    @Html.AntiForgeryToken()

                    <div class="editor-label">
                        @Html.LabelFor(model => model.PersonalNumber)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PersonalNumber)
                        @Html.ValidationMessageFor(model => model.PersonalNumber)
                    </div>
                    <div style="display: -webkit-inline-box;margin-top: 10px;">
                        <p>
                            <input type="submit" value="Login" id="btn_login" />
                        </p>
                    </div>
                </fieldset>
            </div>
        }
    }


<h3>@ViewBag.Message</h3>







